{% extends "webapp/base.html" %}
{% block content %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{object.user_home_size}}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ object.user_flatmates }}</a>
            <small class="text-muted">{{ object.user_job_timings}}</small>
           
            
        </div>
        <h2 class="article-content">{{ object.user_income }}</h2>
        <p class="article-content">{{ object.user_medical_history }}</p>
    </div>
</article>
{% endblock content %}